html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

button {
	cursor: pointer;
}

input,
textarea {
	display: block;
	resize: none;
}

body {
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Poppins', arial, sans-serif;
}

.container {
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

section {
	padding: 100px 0;
}

.sec_tit {
	font-weight: 800;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	margin: 0 auto;
}

.dib {
	display: inline-block;
}

.hover {
	transition: 0.3s;
}

.btn {
	border-radius: 10px;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	height: 85px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 14px 0;
	transition: 0.3s;
}

.link {
	transition: 0.3s;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* header */

.header_main  {
	margin-top: 32px;
}


.header_list  {
	width: 497px;
}


.header_btns  {
	width: 270px;
	flex-wrap: nowrap;
}

.header_btn {
	border-radius: 8px;
	border: 1px solid #E6E6E6;
	width: 126px;
	height: 51px;
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: -0.02em;
	text-align: left;
}

/* children */

.children {
	background: url(./img/Desktop\ -\ 2.jpg)center no-repeat;
	height: 100%;
}

.children_main {
	align-items: flex-end;
}

.children_left {
	width: 65%;
}

.children_right {
	width: 35%;
}

.child_sec {
	margin-top: 55px;
	margin-bottom: 32px;
	font-size: 64px;
	font-weight: 700;
	line-height: 100px;
	letter-spacing: 0em;
	text-align: right;
	color: #008774;
}

.child_txt {
	font-size: 16px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	color: #E6F6F4;
	max-width: 490px;
	margin-bottom: 16px;
}

.children_btn {
	width: 300px;
	height: 51px;
	background: #008774;
	color: #fff;
}


/* amal */
.oneFooter {
	height: 810px;
	background-image: url(.//img/svg/footerOneSvg.svg);
	background-position: 60% 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	align-items: center;
	padding-bottom: 120px;
	display: flex;
}

.home_title {
	/* Text */
	/* position: absolute; */
	width: 396px;
	height: 188px;
	left: 190px;
	top: 236px;
	/* Foundation /Green/Light :active */
	/* border: 1px solid rgb(176, 228, 221); */
	/* Foundation/Green/Dark */
	/* background: rgb(0, 127, 109); */
}

.span_home {
	/* position: static; */
	/* width: 396px; */
	/* height: 24px; */
	display: flex;
	/* flex-direction: column; */
	/* justify-content: flex-start; */
	/* align-items: flex-start; */
	/* padding: 0px; */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 12px 0px;
	color: rgb(176, 228, 221);
	/* font-family: Inter; */
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 12%;
	/* text-align: left; */
	text-transform: uppercase;
}

.home_tit {
	/* position: static; */
	width: 469px;
	/* height: 64px; */
	/* display: flex; */
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	/* padding: 0px; */
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	/* margin: 12px 0px; */
	/* color: rgb(11, 11, 14); */
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: -0.51%;
	/* text-align: left; */
}

.slaider {
	display: flex;
	gap: 26px;
	margin: 28px 3px;
}

.slaider_one__img {
	position: relative;
	width: 48px;
	height: 48px;
	box-sizing: border-box;
	border: 1px solid rgb(176, 228, 221);
	border-radius: 24px;
}

.slaider_two__img {
	position: relative;
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background: rgb(0, 127, 109);
}

.vectror {
	width: 26px;
	margin-top: 8px;
	margin-left: 9px;
}

.vectror_two {
	width: 26px;
	margin-top: 9px;
	margin-left: 12.5px;
}

.white_box {
	width: 583px;
	height: 202px;
	margin-left: 740px;
	margin-right: 147px;
	margin-top: -205px;
	/* margin-bottom: 218px; */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 21px;
	border-radius: 10px;
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
	background: rgb(255, 255, 255);
}

.span_box {
	/* position: static; */
	width: 616px;
	height: 96px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 34px;
	/* flex: none; */
	/* order: 0; */
	/* flex-grow: 0; */
	margin: -15px -30px;
	color: rgb(61, 61, 72);
	font-size: 16px;
	/* font-weight: 400; */
	line-height: 24px;
	letter-spacing: -1%;
	/* text-align: left; */
}

.white_tab {
	display: flex;
	top: -57px;
	margin: -22px;
}

.img_man {
	width: 60px;
	height: 60px;
	/* flex: none; */
	/* flex-grow: 0; */
	margin: 9px 14px;
	/* border-radius: 32px; */
}

.sp_man {
	/* position: static; */
	width: 180px;
	/* height: 82px; */
	/* display: flex; */
	flex-direction: column;
	justify-content: flex-end;
	/* align-items: flex-start; */
	/* padding: 24px; */
	/* flex: none; */
	/* order: 2; */
	/* flex-grow: 0; */
	margin: 41px 2px 18px;
	color: rgb(11, 11, 14);
	/* font-family: Vazirmatn; */
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: -0.37%;
	/* text-align: left; */
}

.span_man {
	/* position: static; */
	/* width: 276px; */
	height: 88px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 24px;
	/* flex: none; */
	/* order: 3; */
	/* flex-grow: 0; */
	margin: 0px -58px;
	color: rgb(89, 89, 105);
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 12%;
	/* text-align: left; */
	text-transform: uppercase;
}

/* footer */
.footer {
	height: 810px;
	background-image: url(.//img/svg/footer.svg);
	background-position: 60% 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	align-items: center;
	padding-bottom: 120px;
	display: flex;
}

.apps {
	align-items: center;
	/* width: 189px; */
	/* height: 47px; */
	display: flex;
	/* flex-direction: row; */
	/* justify-content: flex-start; */
	/* align-items: flex-start; */
	/* padding: 0px; */
	/* flex: none; */
	/* order: 1; */
	/* flex-grow: 0; */
	margin: 64px -29px;
	justify-content: center;
}

.app {
	/* position: static; */
	/* display: flex; */
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 16px;
	flex: none;
	order: 0;
	flex-grow: 0;
	/* margin: -9px 27px; */
	align-items: center;
	justify-content: center;
}

.footer_card {
	/* width: 1120px; */
	height: 280px;
	left: 160px;
	right: 160px;
	top: 96px;
	bottom: 85px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0px;
}

.footer_box {
	position: static;
	width: 544px;
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0px;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 56px 0px;
	color: white;
}

.footer_tit {
	width: 61px;
	height: 40px;
	left: 48.3px;
	top: 0;
	color: rgb(255, 255, 255);
	font-size: 30.74px;
	font-weight: 700;
	line-height: 130%;
	letter-spacing: -2%;
	text-align: left;
}

.footer_like {
	width: 138.97px;
	height: 38.97px;
	margin-left: -124px;
	margin-top: -40px;
}

.footer_pgp {
	/* position: static; */
	/* width: 495px; */
	height: 56px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 39px;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 3px -44px;
	color: rgb(129, 138, 156);
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: -0.18px;
	text-align: center;
	/* position: static; */
}



/* Ramazan  */
.Find_section{
	width: 1266px;
	height: 1791px;
	margin-left: auto;
	margin-right: auto;
	}
	.adress_blocks{
	display: flex;
	flex-direction: row;
	  }
.adress_block{
	width: 480px;
	height: 192px;
	display: flex;
	background: #E6F6F4;
	background-image: url("img/Shape.png") no-repeat;
	}
.adress_icon_block{
	width: 96px;
	height: 96px;
   margin-top: 48px;
	margin-left: 48px;
	background: #FFFFFF;
	border-radius: 100%;
  }
  .adress_name{
	font-family: Manrope;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: left;
	color: #3A170080;
	margin-top: 58px;
	}
	.adress_tel{
		font-family: Manrope;
		font-size: 20px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: 0px;
		text-align: left;
		color: #3A1700;
		}
